@tailwind base;
@tailwind components;
@tailwind utilities;

.file-display-box {
    /* ... existing styles ... */
    display: flex;
    flex-direction: column; /* Stack icon and title vertically */
    align-items: center;
    justify-content: center; /* Center content vertically and horizontally */
    margin: 1px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background-color: transparent;
    padding: 10px; /* Add padding to prevent content from touching the edges */
}

.custom-title-gradient {
    position: relative;
    @apply bg-clip-text text-transparent drop-shadow-2xl;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
}

.file-display-box .icon {
    /* ... existing styles ... */
    font-size: clamp(1.5rem, 5vw, 3rem);
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    max-width: 50%; /* Ensure the icon does not overflow the box */
}

.file-display-box .custom-title-gradient {
    /* ... existing styles ... */
    font-size: clamp(0.8rem, 2.5vw, 1.2rem); /* Adjust font size to fit better */
    text-align: center;
    margin-top: 5px;
    max-width: 100%; /* Ensure the title does not overflow the box */
}



@media (max-width: 768px) {
    .file-display-box .icon {
        /* Adjust icon size for small screens */
        font-size: clamp(1.5rem, 10vw, 3rem); /* Use clamp for smooth scaling */
    }

    .file-display-box .custom-title-gradient {
        /* Adjust title size for small screens */
        font-size: clamp(0.8rem, 8vw, 1.2rem); /* Use clamp for smooth scaling */
    }
}

@media (min-width: 769px) {
    .file-display-box .icon {
        /* Adjust icon size for larger screens */
        font-size: clamp(1.5rem, 5vw, 3rem); /* Use clamp for smooth scaling */
    }

    .file-display-box .custom-title-gradient {
        /* Adjust title size for larger screens */
        font-size: clamp(0.8rem, 2.5vw, 1.2rem); /* Use clamp for smooth scaling */
    }
}

@media (max-width: 768px) {
    .icon {
        width: 5vw;
        height: 5vw;
    }

    .custom-title-gradient {
        font-size: 5vw;
    }
}


.file-container-div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Keep auto-fill for responsiveness */
    grid-auto-rows: minmax(100px, auto); /* Keep minimum row height */
    gap: 5px; /* Reduce gap if you want the boxes tighter */
    padding: 5px;
    justify-content: end; /* Align the items to the end (right side) */
    align-items: start; /* Align items to the start of each row */
}

@media (min-width: 768px) {
    .file-container-div {
        grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns if necessary for tighter layout */
    }
}


@media (min-width: 768px) {
    .file-container-div {
        grid-template-columns: repeat(3, 1fr); /* Set to 3 columns when the viewport is wider than 768px */
    }

}