@tailwind base;
@tailwind components;
@tailwind utilities;


.tooltipStyle {
    @apply relative inline-block;
  }
  
  .tooltipTextStyle {
    @apply invisible opacity-0 bg-black text-white text-center rounded-md py-2 absolute z-10;
    width: 120px;
    padding: 5px 0;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s;
  }
  
  .tooltip:hover .tooltipTextStyle {
    @apply visible opacity-100;
  }
